server {
    listen 8080;
    root /usr/share/nginx/html;
    index index.html;

    location /config {
        default_type application/json;
        return 200 '{"MAPS_KEY":"${GOOGLE_API_KEY}"}';
        add_header Access-Control-Allow-Origin *;
    }

    location / {
        try_files $uri $uri/ /index.html;
    }
}
